build
dist
docs/build
*.pyc
*.egg-info
*.eps
*.dat
*.list
*.ps
*.out
*.ucsf
*.ft2
*.fid
*.xml
*.save
*.proj
*.BAK
*xml
*.swp
*.gif
*.mp4
*.pdf
*.avi
*.webm
*.html
*.index
*.DS_Store
.ipynb_checkpoints
__pycache__
*.Identifier
!requirements.txt
.jupyter_cache
tests/multiprocess_log.txt
.vscode
